/*-- scss:defaults --*/

$font-family-sans-serif: "IBM Plex Sans", sans-serif;
$font-family-monospace: "IBM Plex Mono", monospace;
$presentation-heading-font: "IBM Plex Sans", sans-serif;
$presentation-heading-font-weight: 300;
$presentation-heading-letter-spacing: -0.045em;
$presentation-title-slide-text-align: left;
$presentation-slide-text-align: left;
$body-bg: #071426;
$body-color: #f2f6ff;
$link-color: #62a8ff;
$code-color: #b9d8ff;
$selection-bg: #174a70;
