/*-- scss:defaults --*/

$font-family-sans-serif: "IBM Plex Sans", sans-serif;
$font-family-monospace: "IBM Plex Sans", sans-serif;
$presentation-heading-font: "IBM Plex Sans", sans-serif;
$presentation-heading-font-weight: 300;
$presentation-heading-letter-spacing: -0.035em;
$presentation-title-slide-text-align: left;
$presentation-slide-text-align: left;
$body-bg: #f5f4ef;
$body-color: #263338;
$link-color: #174a70;
$code-color: #174a70;
$selection-bg: #c9dfff;
